  $color-primary: #1913e1;
  $color-primarybump: #f300ff;
  $color-primary-shadow: rgba(8, 186, 187, 0.16);
  $color-redish: #FB3B64;
  $color-green: #55DFB4;
  $color-black: #000000;
  $color-white: #ffffff;
  $color-grey: #A5A5A5;
  $color-light-grey: #F7F7F7;