* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f2f5;
    color: #1c1e21;
}

main {
    height: 90vh;
    width: 100vw;
    position: relative;
    margin: 0 auto;
}

footer {
    height: 10vh;
    background-color: #ffffff;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    border-radius: 30px;
}

.row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translate(-50%, -50%);
    background-color: lightblue;
    border-radius: 30px;
}

.btn-outline-dark {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 700;
}

.btn-outline-dark:hover {
    background-color: #001ccc;
    border: none;
    border-radius: 6px;
    font-size: 15px;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: 700;
}

.colm-form .form-container input, .colm-form .form-container .btn-login {
    width: 100%;
    margin: 5px 0;
    height: 45px;
    vertical-align: middle;
    font-size: 16px;
}

.colm-form .form-container input {
    border: 1px solid #dddfe2;
    color: #1d2129;
    padding: 0 8px;
    outline: none;
}

.colm-form .form-container input:focus {
    border-color: #1444f2;
    box-shadow: 0 0 0 2px #e7f3ff;
}

.colm-form .form-container .btn-login {
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
}

.colm-form .form-container .btn-login:hover {
    background-color: #6db0fd;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    padding: 0 16px;
    color: #ffffff;
    font-weight: 700;
}

.colm-form .form-container a {
    display: block;
    color: #1877f2;
    font-size: 14px;
    text-decoration: none;
    padding: 10px 0 20px;
    border-bottom: 1px solid #dadde1;
}

.alert {
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    color: white;
    padding: 15px 23px;
}
